@import "reset.css";

/*
#E82E2F - Red
#D5471F - Brown
#F59C51 - Orange
#FFCF5B - Yellow
*/

body {
    background: #F59C51;
    font-family: "helvetica", sans-serif;
    color: #111;
    text-align: center;
}

#hero {
    background: #FFCF5B;
    width: 1000px;
    margin: 0 auto;
}

.logo img {
    max-width: 300px;
}

h1 {
    font-family: "impact";
    font-size: 3rem;
    color: #E82E2F;
    text-transform: capitalize;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.coupon {
    margin-top: 20px;
    padding-top: 15px;
    background: #eee;
    display: block;
}

.left, .right {
    display: inline-block;
    width: 49%;
    min-width: 300px;
}

.right {
    position: relative;
    top: -50px;
    text-align: left;
}

.left img {
    max-width: 100%;
}

h3 {
    font-size: 1.8rem;
}

h2 {
    font-family: "impact";
    font-size: 3rem;
    margin: 10px 0px;
    color: #D5471F;
}

.right p {
    font-size: 1.1rem;
    line-height: 1.2;
}

hr {
    margin: 20px 0px;
    width: 90%;
}

button {
    color: #eee;
    margin-top: 10px;
    background: #D5471F;
    font-size: 1.5rem;
    border: none;
    padding: 10px 20px;
}

button:hover {
    background: #FFCF5B;
    color: #E82E2F;
    cursor: pointer;
}

h3, h2, .right p, hr, button {
    margin-left: 25px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin: 0 auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #FFCF5B;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
  }

  .modal-content h2 {
      font-size: 2.5rem;
  }

  .modal-content p {
      margin-bottom: 30px;
  }

  #form {
      text-align: left;
      background-color: #fdfdfd;
      padding: 50px;
      border-radius: 10px;
      font-size:
  }

  input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  select {
      font-size: 1rem;
  }
  
  input[type=submit] {
    color: #eee;
    margin-top: 10px;
    background: #D5471F;
    font-size: 1.5rem;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-transform: uppercase;
  }
  
  input[type=submit]:hover {
    background: #FFCF5B;
    color: #E82E2F;
    cursor: pointer;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.footer {
    background: #D5471F;
    padding: 30px 0px;
}

.footer h3 {
    color: #eee;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer p {
    color: white;
    font-size: 1rem;
    width: 75%;
    margin: 0 auto;
}