@import "reset.css";
@import "main.css";
@import "header.css";

/*
0D0D0D - Black
333333 - Dark Gray
F24141 - Red
D9704A - Orange
41F2F2 - Light Blue
EEECEB - Light Gray
F2F2F2 - White
*/

#projects {
    background-color: #F2F2F2;
    text-align: center;
    padding-bottom: 3px;
}

#projects .project-section {
    display: block;
    background-color: #F2F2F2;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#projects .project-section .p-tile {
    color: #F2F2F2;
    display: inline-block;
    width: 49.7%;
    height: 400px;
    text-align: center;
    margin-top: 3px;
}

.p-one a, .p-two a, .p-three a, .p-four a {
    color: #F2F2F2;
    text-decoration: none;
    border: 2px solid #D9704A;
    border-radius: 10px;
    padding: 5px 20px;
    position: relative;
    top: 30px;
    text-transform: capitalize;
}

.p-one a:hover, .p-two a:hover, .p-three a:hover, .p-four a:hover {
    color: #0D0D0D;
    background-color: #41F2F2;
    border: 2px solid #41F2F2;
}

#projects .project-section .p-one {
    background-color: #403C3A;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url('../images/academy-website.jpg');
    background-size: cover;
    background-position: center;
}

    #projects .project-section .p-one:hover {
        background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url('../images/academy-website.jpg');
        background-size: cover;
        background-position: center;
    }

#projects .project-section .p-two {
    background-color: #403C3A;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url('../images/email-mockup.jpg');
    background-size: cover;
    background-position: center;
}

    #projects .project-section .p-two:hover {
        background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url('../images/email-mockup.jpg');
        background-size: cover;
        background-position: center;
    }

#projects .project-section .p-three {
    background-color: #403C3A;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url('../images/es-logo-bg.png');
    background-size: cover;
    background-position: center;
}

    #projects .project-section .p-three:hover {
        background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url('../images/es-logo-bg.png');
        background-size: cover;
        background-position: center;
    }

#projects .project-section .p-four {
    background-color: #403C3A;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url('../images/portfolio.jpg');
    background-size: cover;
    background-position: center;
}

    #projects .project-section .p-four:hover {
        background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url('../images/portfolio.jpg');
        background-size: cover;
        background-position: center;
    }

#projects h3 {
    padding-top: 200px;
    padding-bottom: 5px;
    font-size: 1.5em;
    letter-spacing: 3px;
}

#projects p {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 0px;
}

hr {
    width: 200px;
}

@media only screen and (max-width: 1025px) {

    #projects .project-section .p-tile {
        width: 100%;
    }
}